@import variables.sass
@import fonts.sass

/*General styles*/
body
	clear: both
	margin: 0
	font-family: Karla
	font-size: $letter_size
	max-width: 100%

	h1
		position: relative
		font-family: DM Serif Display
		font-size: 79px
		letter-spacing: -4px
		line-height: 77%
		color: $neutral_gray
		&::before
			content: "_____"
			position: absolute
			bottom: 150%
			left: 0
			@media (max-width: $bg-movile)
				content: ""
	/*General styles*/

	@import header.sass
	@import first_section.sass
	@import second_section.sass
	@import three_section.sass
	@import content_footer.sass
